.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 200px;
  width: 200px;
  transform-origin: 100px 100px;
}

.nose {
  fill: #f9c5e7;
}

.leftEye, .rightEye {
  fill: #000000;

}

.leftEye {
  transform-origin: 225px 275px;
}

.App-header {
  background-color: #424653;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes Eyes-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
